.login-body{
    background-size: contain;
}

.login-card{
    width: 400px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 15px;
    margin-left: 210px;
    top: 300px;
    opacity: 95%;
}

.login-card-title{
    padding-left: 148px;
    padding-bottom: 10px;
}

.login-button{
    background-color: rgb(240, 162, 19);
}
.login-register-link{
    margin-left: 15px;
}
.link{
    color: rgb(12, 12, 12);
}

.email-icon{
    transform: scale(0.7);
}

.full-width{
    width: 100%;
}